<link href="/stylesheets/index.css" rel="stylesheet">
<link href="/stylesheets/artwork.css" rel="stylesheet">
<link href="/stylesheets/search.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" integrity="sha512-xmGTNt20S0t62wHLmQec2DauG9T+owP9e6VU8GigI0anN7OXLip9i7IwEhelasml2osdxX71XcYm6BQunTQeQg==" crossorigin="anonymous" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js" integrity="sha512-VvWznBcyBJK71YKEKDMpZ0pCVxjNuKwApp4zLF3ul+CiflQi6aIJR+aZCP/qWsoFBA28avL5T5HA+RE+zrGQYg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput-angular.min.js" integrity="sha512-KT0oYlhnDf0XQfjuCS/QIw4sjTHdkefv8rOJY5HHdNEZ6AmOh1DW/ZdSqpipe+2AEXym5D0khNu95Mtmw9VNKg==" crossorigin="anonymous"></script>
<style type="text/css">
    .label-info{
        background-color: #17a2b8;

    }
</style>

<header>
<div class="container">
      <p1 style=""> Hi there <b> {{profile.given_name}} </b> </p1>
      {{!-- try getting year from existing artwork --}}
      {{!-- if artwork, use grad year from there, if not, delete all of grad year --}}
      {{!-- <p1 style=""> Class of {{grad_year}} </p1> --}}
</div>
</header>
<body>
<div class="container">
      <p1 style="text-align: center;"><b> Your art: </b> </p1>
      {{#each art}}
            <div class="container artwork col-3">
              <a href="/artwork/{{page_number}}?id={{art_id}}">
                <div class = "frame">
                    <img src="{{art_source}}" class="img-fluid w-100 shadow-1-strong rounded mb-4">

                        <div class="details">
                          <h1 style=" font-weight: bold;">{{art_title}}</h1>
                          <h4> by <h4>
                          <h2> {{art_creator}} </h2>

                        </div>
                      </div>
                        </a>
            </div>
      {{/each}}
</div>
<div>

  <a href="https://langenheim-a07134ab155c.herokuapp.com/logout">
      <button>Log out</button>
  </a>
</div>
</body>